p Hello #{name},
p Thank you for Subscribing as a #{plan}.
p Please ensure you download the MustWants App on iOS App Store or Google Play.
p To connect to clients, you can add your Home Buyers individually or upload a CSV file to invite your Home Buyers to Collaborate with you on MustWants.
p Your invitation is personalized to you and locks those Home Buyers to you in My #{role}.
p Your Home Buyers will only see your baseball card in My #{role} and you will be able to see your Home Buyers information.
p When uploading the Home Buyers, you should utilize the format of BUYER NAME, EMAIL, PHONE NUMBER, that is all MustWants will need. Once that Home Buyer downloads the app on iOS or Android and confirms you as their #{role}, you can see their information.
br
p Scott 
p Scott Hayford, Col(Ret), USAF 
p Email: MUSTWANTS@MustWants.com
p Founder MustWants Inc